<div class="container__header">
  <div class="container__profile">
    <img
      src="https://cdn-icons-png.flaticon.com/512/1144/1144760.png"
      alt="profile"
      width="40vh"
    />
    <p>Profile</p>
  </div>
  <nav class="container__navegation">
    <a href="https://github.com/AntonioSsantana" target="_blank"
      ><img
        src="https://cdn-icons-png.flaticon.com/512/25/25231.png"
        alt="github"
        width="30vh"
    /></a>
    <a href="https://www.linkedin.com/in/antoniosgn/" target="_blank"
      ><img
        src="https://cdn1.iconfinder.com/data/icons/logotypes/32/circle-linkedin-512.png"
        alt="linkedin"
        width="30vh"
    /></a>
  </nav>
</div>
