.container__big-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vh;
  margin-left: 10vh;
  margin-top: 20vh;
}

.container__big-card-image > p {
  opacity: 0.3;
  font-size: 2vh;
  font-family: "Courier New", Courier, monospace;
  margin-top: 0.5vh;
  margin-bottom: 2vh;
}

.container__big-card-infos {
  display: flex;
  flex-direction: column;
  width: 63.4%;
  align-items: flex-start;
}

.container__big-card-title > a > h3 {
  margin-bottom: 2vh;
}

.container__big-card-description > p {
  font-size: 2vh;
  color: rgb(149, 149, 149);
}
