<div class="container__small-card">
  <div class="container__small-card-image">
    <img
      src="https://i.stack.imgur.com/y9DpT.jpg"
      alt="placeholder"
      width="200vh"
    />
  </div>
  <div class="container__small-card-infos">
    <p class="small-card-date">23/05/2022</p>
    <div class="container__small-card-title">
      <a href="">
        <h3>
          Uma versão diferente de react está em desenvolvimento e promete
          inúmeras mudanças
        </h3>
      </a>
    </div>
  </div>
</div>
