<div class="container__home-page">
  <div class="container__home-page-title">
    <h1>Antônio Blog</h1>
  </div>
  <div class="container__articles">
    <article class="articles-main">
      <app-big-card
        [imageCover]="imageCover"
        [cardTitle]="cardTitle"
        [cardDescription]="cardDescription"
        [id]="id"
      >
      </app-big-card>
    </article>
    <article class="articles-others">
      <app-small-card
        *ngFor="let i of blogSmallCardItens"
        [cardDescription]="i.description"
        [imageCover]="i.img_url"
        [id]="i.id"
      ></app-small-card>
    </article>
  </div>
</div>
